<footer>
    <p>
        Esta página se ha creado solamente con fines educativos y de aprendizaje, y no tiene ningún propósito comercial;
        <a  href="./recursos.html" target="_blank" rel="noopener noreferrer">
            todos los recursos empleados provienen de Internet.
        </a>
    </p>
        
    <p class="copyright" id="copyright">
        ©
        <time datetime="2026" id="anyoCopyright">2026</time>
        <a href="https://github.com/Knres" target="_blank" rel="noopener noreferrer">Knres</a>    
    </p>        
</footer>