<section
    id="bannerCookies"
    class="bannerCookies"
    aria-labelledby="bannerCookiesTitulo"
>
    <div class="bannerCookies-contenido">

        <h2 id="bannerCookiesTitulo">
            Utilizamos cookies propias
        </h2>

        <p>
            Este sitio web utiliza cookies propias para mejorar la experiencia del usuario 
            y recordar sus preferencias de navegación. <br><br>

            Consulte nuestra
            <a href="./cookies.html">
                Política de Cookies
            </a>
            para obtener más información.
        </p>

        <div class="bannerCookies-acciones">
            <button
                type="button"
                id="botonRechazarCookies"
                class="botonSecundario"
            >
                Rechazar
            </button>

            <button
                type="button"
                id="botonAceptarCookies"
                class="botonPrincipal"
            >
                Aceptar
            </button>
        </div>
    </div>
</section>