<footer>
    <p>
        Esta página se ha creado solamente con fines de aprendizaje, y no tiene ningún propósito comercial;
        todos los 
        <a href="./recursos.html">
            recursos empleados
        </a> 
        provienen de Internet.
    </p>

    <div class="enlacesFooter">
        <a href="accesibilidad.html">Accesibilidad digital</a>
            <p aria-label="Separador" aria-hidden="true" aria-live="polite">|</p>
        <a href="cookies.html">Política de cookies</a>
    </div>
        
    <p class="copyright" id="copyright">
        ©
        <time datetime="2026" id="anyoCopyright">2026</time>
        <a href="https://github.com/Knres" target="_blank" rel="noopener noreferrer">Knres</a>    
    </p>        
</footer>