<header>
    <div id="header-left" class="header-left">
        <!-- logotipo de la página-->
        <a href="./" id="logo" class="logo" aria-label="Ir a la página principal">
            <img src="./images/logo.webp" alt="logotipo de la página" />
            <span>Page</span>
        </a>
    </div><!-- header-left -->

    <div id="header-center" class="header-center">
        <time datetime="2026-08-11T13:18:41.000Z" id="clock">00/00/0000 00:00:00</time>
    </div><!-- header-center -->


    <div id="header-right" class="header-right">
        <nav id="nav" class="nav" aria-label="Navegación principal">
            <ul>
                <li><a href="./">Inicio</a></li>
                <li><a href="./recursos.html">Recursos</a></li>
            </ul>
        </nav>
    </div><!-- header-right -->        
</header>