* {
    box-sizing: border-box;
}

/* Anton -> titles */
@font-face {
    font-family: "Anton";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/anton-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Inter -> body */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../fonts/inter-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --bg-color: #121212;
    --card-bg: #1e1e1e;
    --text-color: #e0e0e0;
    --accent-color: #bb86fc;
    --accentshadow-color: #bb86fc66;
    --focus-color: #ffbf47;
}

h1, h2, h3, h4, h5, h6 { /*titles*/
    font-family: "Anton", sans-serif;
    margin: 0;
}

a {
    color: var(--accent-color);
    text-decoration: none;

    &:hover {
        color: var(--focus-color);
        text-decoration: underline;
    }

    &:focus {
        outline: 3px solid var(--focus-color);
        outline-offset: 2px;
        border-radius: 1px;
    }

    /*
    &:hover {
        background-color: var(--focus-color);
        border-radius: 4px;
    }

    &:focus {
        outline: 3px solid var(--focus-color);
        outline-offset: 2px;
        border-radius: 1px;
    }
    */
}

html {
    margin: 0;
    max-width: 100%;
    max-height: 100%;

    background-color: var(--bg-color);
    color: var(--text-color);
    color-scheme: dark;

    scroll-behavior: smooth;
    overflow-x: clip;
}

.logo {
    display: flex;
    align-items: center;

    >img {
        height: 3rem;
        width: auto;
        padding: 0 0.5rem 0 0;/*↑→↓←*/
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;

    >ul{
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        gap: 0.5rem;
            
        
        >li {
            padding: 0;
        }
    }
}

body {
    margin: 0;
    width: 100%;
    min-width: 390px; /*solo se puede comprimir hasta los 390px*/
    min-height: 100vh; /*hacer que el body ocupe toda la altura disponible*/
    display: flex;
    flex-direction: column;
    
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    background-color: transparent; /* Importante para que el video se vea */



    >header {
        width: 100%;

        display: grid;
        grid-template-columns: 1fr auto 1fr;

        background-color: var(--card-bg);
        margin: 0 0 1rem 0; /*↑→↓←*/
        padding: 0.5rem;

        .header-left {
            justify-self: start;

            display: flex;
            align-items: center;
            gap: 1rem;
        }/*header-left*/

        
        .header-center {
            justify-self: center;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
        }/* header-center */

        .header-right {
            justify-self: end;

            display: flex;
            justify-content: center;

            align-items: center;
            gap: 1rem;
        }/*header-right*/
    } /* header */



    >main {
        flex: 1;/*Para que el main ocupe el espacio disponible cuando hay poco contenido en main*/
        padding: 1rem;        
    } /* main */



    >footer {
        background-color: var(--card-bg);
        padding: 0.5rem;
        margin: 1rem 0 0 0; /*↑→↓←*/
        text-align: center;

        >p >a {
            font-weight: 700;
        }

        .enlacesFooter {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            >p {
                margin: 0;
            }
        } /* enlacesFooter */

        
    } /* footer */


    .bannerCookies {
        position: fixed;
        left: 1rem;
        bottom: 1rem;
        z-index: 40;
        
        width: 24rem;
        min-width: 390px; /*solo se puede comprimir hasta los 390px*/

        background-color: var(--card-bg);

        border: 1px solid var(--accent-color);
        border-radius: 0.5rem;

        box-shadow: 0 0.5rem 2rem var(--accentshadow-color);

        .bannerCookies-contenido {
            display: flex;
            flex-direction: column;

            gap: 0.75rem;

            padding: 1.25rem;

            .bannerCookies-acciones {
                display: flex;
                justify-content: flex-end;

                gap: 0.75rem;

                margin-top: 0.25rem;
            } /* bannerCookies-acciones */ 
        }/* bannerCookies-contenido */
    }/* bannerCookies */
}/* body */



/* ============================================================================================================
 * Botones
 * ==========================================================================================================*/
.botonPrincipal,
.botonSecundario {
    padding: 0.6rem 1rem;

    border: 2px solid var(--accent-color);
    border-radius: 0.25rem;

    font-family: "Inter", sans-serif;
    font-weight: 700;

    cursor: pointer;

    transition:
        background-color 0.2s ease,
        color 0.2s ease;

    &:hover {
        background-color: var(--focus-color);
        color: var(--bg-color);
        border: 2px solid var(--accent-color);
    }

    &:focus {
        outline: 3px solid var(--focus-color);
        outline-offset: 2px;
        border-radius: 1px;
    }
}


.botonPrincipal {
    background-color: var(--accent-color);
    color: var(--bg-color);

}

.botonSecundario {
    background-color: transparent;
    color: var(--accent-color);
}